<!DOCTYPE html>
<html lang="">
  <head>
    <title>!!! !!!description</title>
    <meta charset="utf-8">
    <meta content="telephone=no" name="format-detection">
    <meta content="no" name="msapplication-tap-highlight">
    <meta content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" name="viewport">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="SatGag" name="apple-mobile-web-app-title">
    <meta content="SatGag" name="application-name">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#000000" name="theme-color">
    <meta content="!!! !!!description" property="og:description">
    <meta content="product" property="og:type">
    <meta content="SatGag" property="og:site_name">
    <meta content="!!! !!!title" property="og:title">
    <meta content="!!! !!!articleUrl" property="og:url">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="!!! !!!description" name="twitter:description">
    <meta content="!!! !!!imgUrl" name="twitter:image" />
    <meta content="!!! !!!imgUrl" property="og:image" />
    <meta content="!!! !!!title" name="apple-mobile-web-app-title">
    <meta content="!!! !!!description" name="description">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
